.task-list {
  padding: 20px;
}

.task-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.task-card {
  background: #ffffff;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
}

.task-card h3 {
  margin-top: 0;
}

.task-card div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.message-card {
  background: #ffffff;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-left: 6px solid #059440;
  margin: 10px;
  /* max-width: 300px; */
}
.title-bold {
  font-weight: bold;
}
